<ul>
    <% preCreatures.forEach((creature) => { %>
        <li>
            <h3><%= creature.type %></h3>
            <img src=<%= creature.img_url %> height=300 width = 300> 
        </li>
    <% }) %>
</ul>